<a href="https://colab.research.google.com/github/kkknewbie9/MchineLrn/blob/main/Day7_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
dataset = pd.read_csv('/content/loan_prediction.csv')  

x = dataset.iloc[:, :-1].values         #Useless to do this here without preprocessing the dataset
y = dataset.iloc[:, -1].values

print(x)
print(y)

[['LP001002' 'Male' 'No' ... 360.0 1.0 'Urban']
 ['LP001003' 'Male' 'Yes' ... 360.0 1.0 'Rural']
 ['LP001005' 'Male' 'Yes' ... 360.0 1.0 'Urban']
 ...
 ['LP002983' 'Male' 'Yes' ... 360.0 1.0 'Urban']
 ['LP002984' 'Male' 'Yes' ... 360.0 1.0 'Urban']
 ['LP002990' 'Female' 'No' ... 360.0 0.0 'Semiurban']]
['Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'N'
 'N' 'Y' 'N' 'Y' 'N' 'N' 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'N' 'N' 'Y' 'N' 'Y'
 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'N'
 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'N' 'N' 'N' 'Y' 'Y' 'N' 'Y' 'Y'
 'Y' 'N' 'Y' 'N' 'N' 'N' 'N' 'Y' 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y'
 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N'
 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y'
 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'Y' 'N' 'N' 'N' 'Y' 'Y' 'Y'
 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'N' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N'
 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'N'
 'N' 'N' 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'N' 'Y' 'Y'
 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'N' 'Y' 'Y' 'Y' 'Y'
 'N' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y'
 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'N'
 'Y' 'Y' 'N' 'Y' 'N' 'N' 'N' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y'
 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y'
 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'N' 'Y' 'Y' 'Y' 'Y' 'N'
 'Y' 'N' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y'
 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'N'
 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'N' 'Y'
 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y'
 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y'
 'N' 'Y' 'Y' 'N' 'N' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'N' 'N' 'Y' 'N' 'Y'
 'N' 'Y' 'N' 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N'
 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'N'
 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y'
 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y'
 'N' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'N'
 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'N' 'N' 'N' 'Y' 'Y'
 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y'
 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'Y'
 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'N' 'N' 'N' 'Y' 'N' 'Y' 'N' 'N' 'Y'
 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'N' 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y'
 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y'
 'Y' 'N']

In [17]:
dataset.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [16]:
dataset['Gender'].fillna('Male', inplace = True)
dataset['Married'].fillna('Yes', inplace = True)
dataset['Dependents'].fillna(1, inplace = True)
dataset['Self_Employed'].fillna('No', inplace = True)
dataset['LoanAmount'].fillna(method = 'bfill', inplace = True)   # first row was empty, tried ffill, didnt fill the first row, got error
dataset['Loan_Amount_Term'].fillna(method = 'ffill', inplace = True)
dataset['Credit_History'].fillna(method = 'ffill', inplace = True)

In [14]:
dataset.isna()

     Loan_ID  Gender  Married  ...  Credit_History  Property_Area  Loan_Status
0      False   False    False  ...           False          False        False
1      False   False    False  ...           False          False        False
2      False   False    False  ...           False          False        False
3      False   False    False  ...           False          False        False
4      False   False    False  ...           False          False        False
..       ...     ...      ...  ...             ...            ...          ...
609    False   False    False  ...           False          False        False
610    False   False    False  ...           False          False        False
611    False   False    False  ...           False          False        False
612    False   False    False  ...           False          False        False
613    False   False    False  ...           False          False        False

[614 rows x 13 columns]

In [42]:
from sklearn.preprocessing import LabelEncoder    # Changing into 1 and 0

le = LabelEncoder()
dataset['Gender'] = le.fit_transform(dataset['Gender'])   #Male/Female
dataset['Married'] = le.fit_transform(dataset['Married'])    #Yes/ No
dataset['Education'] = le.fit_transform(dataset['Education'])    #grad/ Not Grad
dataset['Self_Employed'] = le.fit_transform(dataset['Self_Employed'])   # Yes/ No
dataset['Loan_Status'] = le.fit_transform(dataset['Loan_Status'])    # Y/ N
dataset.head()

   Gender  Married Dependents  ...  Loan_Status  Semiurban  Urban
0       1        0          0  ...            1          0      1
1       1        1          1  ...            0          0      0
2       1        1          0  ...            1          0      1
3       1        1          0  ...            1          0      1
4       1        0          0  ...            1          0      1

[5 rows x 13 columns]

In [21]:
from sklearn.preprocessing import OneHotEncoder   

ohe = OneHotEncoder()

ohe.fit_transform(dataset[['Property_Area']]).toarray()   # urban , suburban, rural

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       ...,
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.]])

In [27]:
dataset.head()

    Loan_ID  Gender  Married  ... Loan_Status  Semiurban  Urban
0  LP001002       1        0  ...           Y          0      1
1  LP001003       1        1  ...           N          0      0
2  LP001005       1        1  ...           Y          0      1
3  LP001006       1        1  ...           Y          0      1
4  LP001008       1        0  ...           Y          0      1

[5 rows x 14 columns]

In [31]:
data = pd.get_dummies(dataset['Property_Area'], drop_first = True)  # compiled the cell again, was already deleted

dataset.drop(['Property_Area'], axis = 1, inplace = True)

print(data)

KeyError: ignored

In [36]:
dataset = pd.concat([dataset,data], axis = 1)

# dataset.drop(['Loan_ID'], axis = 1, inplace = True)

In [52]:
x = dataset.drop('Loan_Status', axis = 1)   #separating dependent and indepedent variable (y is not the last column that's why)
y = dataset['Loan_Status']

x.head()

   Gender  Married Dependents  ...  Credit_History  Semiurban  Urban
0       1        0          0  ...             1.0          0      1
1       1        1          1  ...             1.0          0      0
2       1        1          0  ...             1.0          0      1
3       1        1          0  ...             1.0          0      1
4       1        0          0  ...             1.0          0      1

[5 rows x 12 columns]

In [51]:
dataset['Dependents'] = dataset['Dependents'].replace(['3+'],4)  #not able to scale because of 3+

In [53]:
from sklearn.model_selection import train_test_split

x_train,x_test, y_train,y_test = train_test_split(x, y, test_size = 0.25)

print(x_train)
print(x_test)
print(y_test)
print(y_train)

     Gender  Married Dependents  ...  Credit_History  Semiurban  Urban
437       1        1          0  ...             1.0          0      1
25        1        1          0  ...             1.0          1      0
457       1        1          0  ...             1.0          0      1
342       1        1          1  ...             1.0          0      1
319       1        1          1  ...             1.0          0      0
..      ...      ...        ...  ...             ...        ...    ...
30        1        1          1  ...             1.0          0      1
217       1        1          0  ...             1.0          1      0
341       0        0          0  ...             1.0          0      0
420       1        1          0  ...             1.0          0      0
201       1        0          2  ...             0.0          1      0

[460 rows x 12 columns]
     Gender  Married Dependents  ...  Credit_History  Semiurban  Urban
418       1        1          0  ...             1.0          0      0
37        0        1          0  ...             1.0          1      0
60        1        1          0  ...             1.0          0      1
351       1        0          0  ...             1.0          0      0
329       0        0          0  ...             1.0          0      1
..      ...      ...        ...  ...             ...        ...    ...
260       1        1          1  ...             1.0          0      1
1         1        1          1  ...             1.0          0      0
173       1        1          0  ...             1.0          1      0
466       1        1          0  ...             0.0          0      1
456       1        1          0  ...             1.0          0      1

[154 rows x 12 columns]
418    1
37     1
60     1
351    0
329    1
      ..
260    1
1      0
173    1
466    0
456    1
Name: Loan_Status, Length: 154, dtype: int64
437    1
25     1
457    0
342    1
319    0
      ..
30     0
217    1
341    0
420    1
201    1
Name: Loan_Status, Length: 460, dtype: int64

In [54]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

print(x_train)
print(x_test)

[[ 0.45535599  0.70941382 -0.71943087 ...  0.45535599 -0.79812949
   1.43759058]
 [ 0.45535599  0.70941382 -0.71943087 ...  0.45535599  1.25292953
  -0.69560834]
 [ 0.45535599  0.70941382 -0.71943087 ...  0.45535599 -0.79812949
   1.43759058]
 ...
 [-2.19608397 -1.40961448 -0.71943087 ...  0.45535599 -0.79812949
  -0.69560834]
 [ 0.45535599  0.70941382 -0.71943087 ...  0.45535599 -0.79812949
  -0.69560834]
 [ 0.45535599 -1.40961448  1.85596368 ... -2.19608397  1.25292953
  -0.69560834]]
[[ 0.45535599  0.70941382 -0.71943087 ...  0.45535599 -0.79812949
  -0.69560834]
 [-2.19608397  0.70941382 -0.71943087 ...  0.45535599  1.25292953
  -0.69560834]
 [ 0.45535599  0.70941382 -0.71943087 ...  0.45535599 -0.79812949
   1.43759058]
 ...
 [ 0.45535599  0.70941382 -0.71943087 ...  0.45535599  1.25292953
  -0.69560834]
 [ 0.45535599  0.70941382 -0.71943087 ... -2.19608397 -0.79812949
   1.43759058]
 [ 0.45535599  0.70941382 -0.71943087 ...  0.45535599 -0.79812949
   1.43759058]]

In [55]:
from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression()

classifier.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [56]:
from sklearn.metrics import confusion_matrix, accuracy_score

y_pred = classifier.predict(x_test)

In [59]:
print(classifier.predict(sc.transform([[1,0,0,0,0,5849,0,128,360,1,0,1]])))
print(classifier.predict(sc.transform([[1,1,1,1,0,3422,0,68,50,1,0,1]])))
print(classifier.predict(sc.transform([[0,1,1,1,0,554,1,30,200,0,0,0]])))

[1]
[1]
[0]