<a href="https://colab.research.google.com/github/kkknewbie9/MchineLrn/blob/main/Day7_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('/content/loan_prediction.csv')  

x = dataset.iloc[:, :-1].values         #Useless to do this here without preprocessing the dataset
y = dataset.iloc[:, -1].values

print(x)
print(y)

[['LP001002' 'Male' 'No' ... 360.0 1.0 'Urban']
 ['LP001003' 'Male' 'Yes' ... 360.0 1.0 'Rural']
 ['LP001005' 'Male' 'Yes' ... 360.0 1.0 'Urban']
 ...
 ['LP002983' 'Male' 'Yes' ... 360.0 1.0 'Urban']
 ['LP002984' 'Male' 'Yes' ... 360.0 1.0 'Urban']
 ['LP002990' 'Female' 'No' ... 360.0 0.0 'Semiurban']]
['Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'N'
 'N' 'Y' 'N' 'Y' 'N' 'N' 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'N' 'N' 'Y' 'N' 'Y'
 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'N'
 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'N' 'N' 'N' 'Y' 'Y' 'N' 'Y' 'Y'
 'Y' 'N' 'Y' 'N' 'N' 'N' 'N' 'Y' 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y'
 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N'
 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y'
 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'Y' 'N' 'N' 'N' 'Y' 'Y' 'Y'
 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'N' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N'
 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'N'
 'N' 'N' 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'N' 'Y' 'Y'
 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'N' 'Y' 'Y' 'Y' 'Y'
 'N' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y'
 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'N'
 'Y' 'Y' 'N' 'Y' 'N' 'N' 'N' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y'
 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y'
 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'N' 'Y' 'Y' 'Y' 'Y' 'N'
 'Y' 'N' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y'
 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'N'
 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'N' 'Y'
 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y'
 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y'
 'N' 'Y' 'Y' 'N' 'N' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'N' 'N' 'Y' 'N' 'Y'
 'N' 'Y' 'N' 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N'
 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'N'
 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y'
 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y'
 'N' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'N'
 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'N' 'N' 'N' 'Y' 'Y'
 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y'
 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'Y'
 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'N' 'N' 'N' 'Y' 'N' 'Y' 'N' 'N' 'Y'
 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'N' 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y'
 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y'
 'Y' 'N']

In [3]:
dataset.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [4]:
dataset['Gender'].fillna(method = 'ffill', inplace = True)
dataset['Married'].fillna(method = 'ffill', inplace = True)
dataset['Dependents'].fillna(method = 'bfill', inplace = True)
dataset['Self_Employed'].fillna(method = 'ffill', inplace = True)
dataset['LoanAmount'].fillna(method = 'bfill', inplace = True)   # first row was empty, tried ffill, didnt fill the first row, got error
dataset['Loan_Amount_Term'].fillna(method = 'ffill', inplace = True)
dataset['Credit_History'].fillna(method = 'ffill', inplace = True)

In [5]:
dataset.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder    # Changing into 1 and 0

le = LabelEncoder()
dataset['Gender'] = le.fit_transform(dataset['Gender'])   #Male/Female
dataset['Married'] = le.fit_transform(dataset['Married'])    #Yes/ No
dataset['Education'] = le.fit_transform(dataset['Education'])    #grad/ Not Grad
dataset['Self_Employed'] = le.fit_transform(dataset['Self_Employed'])   # Yes/ No
dataset['Loan_Status'] = le.fit_transform(dataset['Loan_Status'])    # Y/ N
dataset.head()

    Loan_ID  Gender  Married  ... Credit_History  Property_Area  Loan_Status
0  LP001002       1        0  ...            1.0          Urban            1
1  LP001003       1        1  ...            1.0          Rural            0
2  LP001005       1        1  ...            1.0          Urban            1
3  LP001006       1        1  ...            1.0          Urban            1
4  LP001008       1        0  ...            1.0          Urban            1

[5 rows x 13 columns]

In [7]:
from sklearn.preprocessing import OneHotEncoder   

ohe = OneHotEncoder()

ohe.fit_transform(dataset[['Property_Area']]).toarray()   # urban , suburban, rural

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       ...,
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.]])

In [8]:
dataset.head()

    Loan_ID  Gender  Married  ... Credit_History  Property_Area  Loan_Status
0  LP001002       1        0  ...            1.0          Urban            1
1  LP001003       1        1  ...            1.0          Rural            0
2  LP001005       1        1  ...            1.0          Urban            1
3  LP001006       1        1  ...            1.0          Urban            1
4  LP001008       1        0  ...            1.0          Urban            1

[5 rows x 13 columns]

In [9]:
data = pd.get_dummies(dataset['Property_Area'], drop_first = True)  

dataset.drop(['Property_Area'], axis = 1, inplace = True)

print(data)

     Semiurban  Urban
0            0      1
1            0      0
2            0      1
3            0      1
4            0      1
..         ...    ...
609          0      0
610          0      0
611          0      1
612          0      1
613          1      0

[614 rows x 2 columns]

In [10]:
dataset = pd.concat([dataset,data], axis = 1)

dataset.drop(['Loan_ID'], axis = 1, inplace = True)

In [13]:
x = dataset.drop('Loan_Status', axis = 1)   
y = dataset['Loan_Status']

x.head()

   Gender  Married Dependents  ...  Credit_History  Semiurban  Urban
0       1        0          0  ...             1.0          0      1
1       1        1          1  ...             1.0          0      0
2       1        1          0  ...             1.0          0      1
3       1        1          0  ...             1.0          0      1
4       1        0          0  ...             1.0          0      1

[5 rows x 12 columns]

In [12]:
dataset['Dependents'] = dataset['Dependents'].replace(['3+'], 4)  #not able to scale because of 3+

In [26]:
from sklearn.model_selection import train_test_split

x_train,x_test, y_train,y_test = train_test_split(x, y, test_size = 0.25)

print(x_train)
print(x_test)
print(y_test)
print(y_train)

     Gender  Married Dependents  ...  Credit_History  Semiurban  Urban
113       0        0          1  ...             1.0          1      0
608       1        1          0  ...             1.0          0      0
544       0        1          0  ...             1.0          1      0
13        1        0          0  ...             1.0          0      0
574       1        1          4  ...             1.0          1      0
..      ...      ...        ...  ...             ...        ...    ...
415       0        0          0  ...             1.0          0      1
597       1        0          0  ...             0.0          1      0
131       1        0          0  ...             1.0          0      1
205       0        0          0  ...             1.0          1      0
612       1        1          2  ...             1.0          0      1

[460 rows x 12 columns]
     Gender  Married Dependents  ...  Credit_History  Semiurban  Urban
192       1        1          0  ...             1.0          0      1
54        0        1          1  ...             0.0          0      1
151       1        1          0  ...             1.0          0      0
90        1        1          0  ...             1.0          1      0
265       1        0          0  ...             1.0          0      0
..      ...      ...        ...  ...             ...        ...    ...
102       1        1          0  ...             1.0          0      1
457       1        1          0  ...             1.0          0      1
179       1        0          0  ...             0.0          0      1
63        1        1          1  ...             0.0          0      0
501       0        0          0  ...             1.0          1      0

[154 rows x 12 columns]
192    0
54     0
151    1
90     1
265    1
      ..
102    1
457    0
179    0
63     0
501    1
Name: Loan_Status, Length: 154, dtype: int64
113    1
608    1
544    1
13     0
574    0
      ..
415    1
597    0
131    1
205    1
612    1
Name: Loan_Status, Length: 460, dtype: int64

In [27]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

print(x_train)
print(x_test)

[[-2.11570094 -1.39596488  0.07477062 ...  0.44837973  1.24721913
  -0.67846699]
 [ 0.47265659  0.7163504  -0.72510117 ...  0.44837973 -0.80178373
  -0.67846699]
 [-2.11570094  0.7163504  -0.72510117 ...  0.44837973  1.24721913
  -0.67846699]
 ...
 [ 0.47265659 -1.39596488 -0.72510117 ...  0.44837973 -0.80178373
   1.47391105]
 [-2.11570094 -1.39596488 -0.72510117 ...  0.44837973  1.24721913
  -0.67846699]
 [ 0.47265659  0.7163504   0.87464241 ...  0.44837973 -0.80178373
   1.47391105]]
[[ 0.47265659  0.7163504  -0.72510117 ...  0.44837973 -0.80178373
   1.47391105]
 [-2.11570094  0.7163504   0.07477062 ... -2.23025245 -0.80178373
   1.47391105]
 [ 0.47265659  0.7163504  -0.72510117 ...  0.44837973 -0.80178373
  -0.67846699]
 ...
 [ 0.47265659 -1.39596488 -0.72510117 ... -2.23025245 -0.80178373
   1.47391105]
 [ 0.47265659  0.7163504   0.07477062 ... -2.23025245 -0.80178373
  -0.67846699]
 [-2.11570094 -1.39596488 -0.72510117 ...  0.44837973  1.24721913
  -0.67846699]]

In [28]:
from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression()

classifier.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [29]:
from sklearn.metrics import confusion_matrix, accuracy_score

y_pred = classifier.predict(x_test)

In [30]:
# print(classifier.predict(sc.transform([[1,0,0,0,0,5849,0,128,360,1,0,1]])))
print(classifier.predict(sc.transform([[1,1,1,1,0,3422,0,68,50,1,0,1]])))
print(classifier.predict(sc.transform([[0,1,1,1,0,554,1,30,200,0,0,0]])))

[1]
[0]

In [31]:
cm = confusion_matrix(y_pred, y_test)
print(cm)

accuracy_score(y_pred, y_test)

[[ 20   4]
 [ 28 102]]

0.7922077922077922